{{- if or .Site.Params.widgets.social_facebook .Site.Params.widgets.social_twitter .Site.Params.widgets.social_linkedin .Site.Params.widgets.social_github .Site.Params.widgets.social_email .Site.Params.widgets.social_rss }}
<div class="widget-social widget">
	<h4 class="widget-social__title widget__title">{{ .Site.Params.widgets.social_widget_title}}</h4>
	{{ with .Site.GetPage "page" "about.md" }}{{ .Content }}{{ end }}
	<div class="widget-social__content widget__content">
		<ul class="widget-social__item">
			{{- with .Site.Params.widgets.social_facebook }}
			<li class="widget__item">
				<a class="smGlobalBtn facebookBtn" title="Facebook" rel="noopener noreferrer" href="https://facebook.com/{{ . }}" target="_blank"></a>
			</li>
			{{- end }}
			{{- with .Site.Params.widgets.social_twitter }}
			<li class="widget__item">
				<a class="smGlobalBtn twitterBtn" title="Twitter" rel="noopener noreferrer" href="https://twitter.com/{{ . }}" target="_blank"></a>
			</li>
			{{- end }}
			{{- with .Site.Params.widgets.social_linkedin }}
			<li class="widget__item">
				<a class="smGlobalBtn linkedinBtn" title="" rel="noopener noreferrer" href="https://linkedin.com/in/{{ . }}" target="_blank">
					<i class="fa fa-2x fa-linkedin" aria-hidden="true"></i>
				</a>
			</li>
			{{- end }}
			{{- with .Site.Params.widgets.social_github }}
			<li class="widget__item">
				<a class="smGlobalBtn githubBtn" title="Github" rel="noopener noreferrer" href="https://github.com/{{ . }}" target="_blank"></a>
			</li>
			{{- end }}
			{{- with .Site.Params.widgets.social_email }}
			<li class="widget__item">
				<a class="smGlobalBtn emailBtn" title="Email" rel="noopener noreferrer" href="mailto:{{ . }}"></a>
			</li>
			{{- end }}
			{{- with .Site.Params.widgets.social_rss }}
			<li class="widget__item">
				<a class="smGlobalBtn rssBtn" title="RSS" rel="noopener noreferrer" href="/atom.xml"></a>
			</li>
			{{- end }}
		</ul>
	</div>
</div>
{{- end }}
