/*HEADROOM*/
/* line 14, ../sass/screen.scss */
.headroom {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: all .2s ease-in-out;
}

/* line 21, ../sass/screen.scss */
.headroom--unpinned {
  top: -100px;
}

/* line 24, ../sass/screen.scss */
.headroom--pinned {
  top: 0;
}

/* line 28, ../sass/screen.scss */
.navbar {
  background-color: #3bc073;
}

/* line 32, ../sass/screen.scss */
.blog-title {
  color: #fff;
  font-size: 2.0rem;
  padding-left: 0.5rem;
}

/* line 38, ../sass/screen.scss */
.blog-post-title {
  font-size: 1.6rem;
}

/* line 42, ../sass/screen.scss */
.blog-description {
  color: #fff;
  font-size: 0.8rem;
  padding-left: 1.5rem;
}

/* line 48, ../sass/screen.scss */
h1, h2 {
  color: #fff;
  background-color: #3bc073;
  line-height: 1.4;
  margin-left: -10px;
  padding-left: 5px;
  margin-top: 0px;
}

/* line 57, ../sass/screen.scss */
h3, h4, h5, h6 {
  color: #3bc073;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

/* line 62, ../sass/screen.scss */
body {
  color: #333;
  background-color: #f2f2f2;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 80%;
}

/* line 69, ../sass/screen.scss */
i {
  font-size: 130%;
  margin-right: 5px;
}

/* line 74, ../sass/screen.scss */
.container {
  /* max-width: 1170px; */
}

/* line 78, ../sass/screen.scss */
.right {
  float: right;
  text-align: right;
}

/* line 83, ../sass/screen.scss */
.navbar {
  padding: 0px;
  z-index: 1;
  border-radius: 0;
  box-shadow: 0 0 0 0, 0 2px 4px rgba(34, 34, 34, 0.3);
}

/* line 90, ../sass/screen.scss */
.navbar-default {
  background-color: #3bc073;
  border: none;
}
/* line 94, ../sass/screen.scss */
.navbar-default .navbar-brand {
  color: #fff;
}
/* line 96, ../sass/screen.scss */
.navbar-default .navbar-brand:hover {
  color: #fff;
}
/* line 102, ../sass/screen.scss */
.navbar-default .navbar-nav li a {
  color: #fff;
}
/* line 104, ../sass/screen.scss */
.navbar-default .navbar-nav li a:hover {
  color: #fff;
  background-color: #32a362;
}
/* line 109, ../sass/screen.scss */
.navbar-default .navbar-nav .active a {
  color: #fff;
  background-color: #32a362;
}
/* line 116, ../sass/screen.scss */
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}
/* line 119, ../sass/screen.scss */
.navbar-default .navbar-toggle:hover {
  background-color: #32a362;
}

/* line 131, ../sass/screen.scss */
#sidebar {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 0 0, 0 2px 4px rgba(34, 34, 34, 0.1);
  margin-left: 0px;
  margin-top: 100px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 10px;
}

/* line 141, ../sass/screen.scss */
#content {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 0 0, 0 2px 4px rgba(34, 34, 34, 0.1);
  margin-top: 100px;
}

/* line 146, ../sass/screen.scss */
.toc {
  margin-top: 0px;
}

/* line 153, ../sass/screen.scss */
.blog-footer {
  background-color: #f2f2f2;
  font-size: 14px;
  text-align: center;
  padding-top: 45px;
  padding-bottom: 30px;
  border-top: 0rem solid #f2f2f2;
}

/* line 162, ../sass/screen.scss */
#post-tags {
  /* margin-top: 30px; */
  display: inline-block;
  float: right;
}
/* line 166, ../sass/screen.scss */
#post-tags a {
  margin-top: -4px;
}

/* line 171, ../sass/screen.scss */
#prev-next {
  padding: 15px 15px;
}

/* line 175, ../sass/screen.scss */
.btn-next-prev {
  color: #fff;
  background-color: #3bc073;
}
/* line 178, ../sass/screen.scss */
.btn-next-prev:hover {
  color: #fff;
  background-color: #32a362;
}

/* line 184, ../sass/screen.scss */
.read-more {
  font-size: 14px;
}

/* line 188, ../sass/screen.scss */
.post-header {
  margin-bottom: 5px;
}
/* line 192, ../sass/screen.scss */
.post-header .post-title {
  font-size: 130%;
}

/* line 197, ../sass/screen.scss */
#post-meta {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.4);
}

/* line 202, ../sass/screen.scss */
#page-header {
  margin-bottom: 20px;
}
/* line 204, ../sass/screen.scss */
#page-header h2 {
  font-size: 32px;
}

/* line 209, ../sass/screen.scss */
pre {
  overflow-x: auto;
}
/* line 211, ../sass/screen.scss */
pre code {
  overflow-wrap: normal;
  white-space: pre;
}

/* line 217, ../sass/screen.scss */
code {
  color: #428bca;
}

/* line 221, ../sass/screen.scss */
pre, code, .hljs {
  background-color: #f7f9fd;
}

@media (min-width: 768px) {
  /* line 226, ../sass/screen.scss */
  .navbar {
    min-height: 70px;
  }

  /* line 229, ../sass/screen.scss */
  .navbar-nav > li > a {
    padding: 30px 20px;
  }

  /* line 232, ../sass/screen.scss */
  .navbar-default .navbar-brand {
    font-size: 36px;
    padding: 25px 15px;
  }

  /* line 236, ../sass/screen.scss */
  #content {
    margin-top: 100px;
    padding: 20px 40px;
  }
}
@media (max-width: 767px) {
  /* line 243, ../sass/screen.scss */
  body {
    font-size: 14px;
  }

  /* line 246, ../sass/screen.scss */
  .navbar-default .navbar-brand {
    font-size: 30px;
  }

  /* line 249, ../sass/screen.scss */
  #content {
    padding: 15px;
  }

  /* line 252, ../sass/screen.scss */
  #post-meta .right {
    float: left;
    text-align: left;
  }
}
/* line 259, ../sass/screen.scss */
.social-area {
  width: 100%;
  min-height: 190px;
  background: #f2f2f2;
  padding: 1.5em 0;
}

@media screen and (min-width: 480px) {
  /* line 267, ../sass/screen.scss */
  .social-area {
    min-height: 119px;
  }
}
