@charset "UTF-8";
/*** CSS Reset based on http://meyerweb.com/eric/tools/css/reset/ v2.0 ***/
/* line 11, ../sass/style.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 26, ../sass/style.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 30, ../sass/style.scss */
ol, ul {
  list-style: none;
}

/* line 34, ../sass/style.scss */
blockquote, q {
  quotes: none;
}

/* line 38, ../sass/style.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/* line 43, ../sass/style.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 48, ../sass/style.scss */
b, strong {
  font-weight: 700;
}

/* line 52, ../sass/style.scss */
:focus::-webkit-input-placeholder {
  color: transparent;
}

/* line 56, ../sass/style.scss */
:focus::-moz-placeholder {
  color: transparent;
}

/* line 60, ../sass/style.scss */
:focus:-moz-placeholder {
  color: transparent;
}

/* line 64, ../sass/style.scss */
:focus:-ms-input-placeholder {
  color: transparent;
}

/*HEADROOM*/
/* line 68, ../sass/style.scss */
.headroom {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: all .2s ease-in-out;
}

/* line 75, ../sass/style.scss */
.headroom--unpinned {
  top: -100px;
}

/* line 78, ../sass/style.scss */
.headroom--pinned {
  top: 0;
}

/*** Structure ***/
/* line 83, ../sass/style.scss */
html {
  font-size: 100%;
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
}

/* line 89, ../sass/style.scss */
body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.6;
  background: #f7f7f7;
  word-wrap: break-word;
}

/* line 98, ../sass/style.scss */
.container, .container-inner {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  position: relative;
}

/* line 105, ../sass/style.scss */
.container-outer {
  margin: 25px auto;
  -webkit-box-shadow: 0 0 10px rgba(50, 50, 50, 0.17);
  -moz-box-shadow: 0 0 10px rgba(50, 50, 50, 0.17);
  box-shadow: 0 0 10 rgba(50, 50, 50, 0.17);
}

/* line 112, ../sass/style.scss */
.wrapper {
  padding: 25px;
  background: #ffffff;
}

/* line 117, ../sass/style.scss */
.content {
  width: 65.83%;
  overflow: hidden;
}

/* line 122, ../sass/style.scss */
.sidebar {
  width: 31.66%;
  float: left;
}

/* line 127, ../sass/style.scss */
.body-right-sidebar .main-content {
  float: left;
  margin-right: 2.5%;
}

/* line 132, ../sass/style.scss */
.body-left-sidebar .main-content {
  float: right;
  margin-left: 2.5%;
}

/* line 137, ../sass/style.scss */
.warning {
  border: 1px solid #ddd;
  padding: 20px 10px;
  text-align: center;
}

/* line 143, ../sass/style.scss */
.warning__icon {
  margin-bottom: 20px;
}

/*** Animation ***/
/* line 148, ../sass/style.scss */
.menu__item, .tags__item, .widget__link--taglist, .btn {
  -webkit-transition: 0.25s ease-out;
  -moz-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
}

/*** Button ***/
/* line 155, ../sass/style.scss */
.btn {
  font-weight: 700;
  padding: 5px 10px;
  white-space: nowrap;
  color: #ffffff;
  background: #2a2a2a;
}

/* line 163, ../sass/style.scss */
.btn:hover {
  color: #ffffff;
  background: #e64946;
}

/*** Columns ***/
/* line 169, ../sass/style.scss */
.row [class*="col-"]:first-child {
  margin: 0;
}

/* line 173, ../sass/style.scss */
[class*="col-"] {
  float: left;
  margin-left: 2.5%;
  overflow: hidden;
}

/* line 179, ../sass/style.scss */
.col-1-1 {
  width: 100%;
}

/* line 183, ../sass/style.scss */
.col-1-2 {
  width: 48.75%;
}

/* line 187, ../sass/style.scss */
.col-1-3 {
  width: 31.66%;
}

/* line 191, ../sass/style.scss */
.col-2-3 {
  width: 65.83%;
}

/* line 195, ../sass/style.scss */
.col-1-4 {
  width: 23.12%;
}

/* line 199, ../sass/style.scss */
.col-3-4 {
  width: 74.37%;
}

/* line 203, ../sass/style.scss */
.col-1-5 {
  width: 18.00%;
}

/* line 207, ../sass/style.scss */
.col-1-6 {
  width: 14.58%;
}

/* line 211, ../sass/style.scss */
.col-1-7 {
  width: 12.14%;
}

/* line 215, ../sass/style.scss */
.col-1-8 {
  width: 10.31%;
}

/* line 219, ../sass/style.scss */
.clear {
  clear: both;
}

/* line 223, ../sass/style.scss */
.clearfix {
  display: block;
}

/* line 227, ../sass/style.scss */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
  margin: 0;
  padding: 0;
}

/*** Typography ***/
/* line 239, ../sass/style.scss */
h1 {
  font-size: 32px;
  font-size: 2rem;
}

/* line 244, ../sass/style.scss */
h2 {
  font-size: 24px;
  font-size: 1.5rem;
}

/* line 249, ../sass/style.scss */
h3 {
  font-size: 20px;
  font-size: 1.25rem;
}

/* line 254, ../sass/style.scss */
h4 {
  font-size: 18px;
  font-size: 1.125rem;
}

/* line 259, ../sass/style.scss */
h5 {
  font-size: 16px;
  font-size: 1rem;
}

/* line 264, ../sass/style.scss */
h6 {
  font-size: 14px;
  font-size: 0.875rem;
}

/* line 269, ../sass/style.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  color: #000;
  line-height: 1.3;
  font-weight: 700;
}

/* line 276, ../sass/style.scss */
small {
  font-size: 12px;
  font-size: 0.75rem;
}

/* line 281, ../sass/style.scss */
pre {
  font-family: "Consolas", Courier New, Courier, monospace;
  color: #000;
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
  background: #f5f5f5;
  border: 1px solid #ebebeb;
  padding: 20px;
  padding: 1.25rem;
  white-space: pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -webkit-pre-wrap;
}

/* line 296, ../sass/style.scss */
kbd {
  padding: 0 6px;
  padding: 0 0.375rem;
  background: #f5f5f5;
  border: 1px solid #aaa;
  border-radius: 0.1875em;
  -moz-border-radius: 0.1875em;
  -moz-box-shadow: 0 0.0625em 0 rgba(0, 0, 0, 0.2), 0 0 0 0.125em white inset;
  -webkit-border-radius: 0.1875em;
  -webkit-box-shadow: 0 0.0625em 0 rgba(0, 0, 0, 0.2), 0 0 0 0.125em white inset;
  box-shadow: 0 0.0625em 0 rgba(0, 0, 0, 0.2), 0 0 0 0.125em white inset;
  text-shadow: 0 0.0625em 0 #ffffff;
}

/* line 310, ../sass/style.scss */
blockquote {
  display: block;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  font-style: italic;
  color: #666;
  padding: 5px 0 5px 15px;
  border-left: 5px solid #e64946;
}

/* line 321, ../sass/style.scss */
sup {
  vertical-align: super;
  font-size: 10px;
  font-size: 0.625rem;
}

/* line 327, ../sass/style.scss */
sub {
  vertical-align: sub;
  font-size: 10px;
  font-size: 0.625rem;
}

/* line 333, ../sass/style.scss */
abbr, acronym {
  border-bottom: 1px dashed;
  cursor: help;
}

/* line 338, ../sass/style.scss */
cite {
  color: #9a9b97;
}

/* line 342, ../sass/style.scss */
q {
  font-style: italic;
}

/* line 346, ../sass/style.scss */
address {
  font-family: "Courier new";
  line-height: 1.5;
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
}

/* line 353, ../sass/style.scss */
a {
  color: #000;
  text-decoration: none;
}

/* line 358, ../sass/style.scss */
a:hover {
  color: #e64946;
}

/*** Lists ***/
/* line 363, ../sass/style.scss */
.post__content ul {
  list-style: square;
}

/* line 367, ../sass/style.scss */
.post__content ol {
  list-style: decimal;
}

/* line 371, ../sass/style.scss */
.post__content ul, .post__content ol {
  margin: 0 0 20px 40px;
}

/* line 375, ../sass/style.scss */
.post__content ul ul, .post__content ol ol {
  margin: 0 0 0 40px;
}

/* line 379, ../sass/style.scss */
.post__content li {
  margin-bottom: 5px;
}

/* line 383, ../sass/style.scss */
dl {
  margin: 0 0 10px 20px;
}

/* line 387, ../sass/style.scss */
dt, dd {
  display: list-item;
}

/* line 391, ../sass/style.scss */
dt {
  list-style-type: square;
  font-weight: bold;
}

/* line 396, ../sass/style.scss */
dd {
  list-style-type: circle;
  margin-left: 20px;
}

/* line 401, ../sass/style.scss */
select {
  max-width: 100%;
}

/*** Header ***/
/* line 406, ../sass/style.scss */
.header {
  background: #ffffff;
}

/* line 410, ../sass/style.scss */
.logo {
  padding: 20px;
  overflow: hidden;
}

/* line 415, ../sass/style.scss */
.logo__link {
  margin: 5px 0;
}

/* line 420, ../sass/style.scss */
.logo__title {
  font-size: 32px;
  font-size: 2rem;
  line-height: 1;
}

/* line 426, ../sass/style.scss */
.logo__tagline {
  display: inline-block;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1;
  color: #e64946;
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid #e5e5e5;
}

/* line 437, ../sass/style.scss */
.divider {
  border: 0;
  margin: 0;
  height: 5px;
  background: #e64946;
}

/*** Navigation — Responsive-nav.js ***/
/* line 445, ../sass/style.scss */
.menu {
  background: #2a2a2a;
  width: 100%;
  margin: 0 auto;
  position: relative;
  text-transform: uppercase;
}

/* line 453, ../sass/style.scss */
.menu__toggle {
  background: #2a2a2a;
  text-transform: uppercase;
  padding: 10px 15px;
  color: #ffffff;
  text-align: right;
  font-weight: 700;
  display: block;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* line 470, ../sass/style.scss */
.menu__list {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}

/* line 478, ../sass/style.scss */
.menu__link {
  padding: 10px 15px;
  display: block;
  color: #ffffff;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  font-weight: 700;
}

/* line 486, ../sass/style.scss */
.menu__link:hover {
  color: #ffffff;
}

/* line 490, ../sass/style.scss */
.js .menu--collapse {
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

/* line 498, ../sass/style.scss */
.menu--collapse.opened {
  max-height: 9999px;
}

/* line 502, ../sass/style.scss */
.opened.menu__list {
  border-top: 1px solid #e64946;
}

/* line 506, ../sass/style.scss */
.menu__item {
  -webkit-transition: 0.25s ease-out;
  -moz-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
}

/* line 512, ../sass/style.scss */
.menu__item:hover {
  background: #e64946;
}

/* line 516, ../sass/style.scss */
.menu__item--active {
  background: #e64946;
}

/* line 520, ../sass/style.scss */
.menu__item:first-child {
  border: none;
}

@media screen and (min-width: 767px) {
  /* line 525, ../sass/style.scss */
  .js .menu {
    position: relative;
  }

  /* line 529, ../sass/style.scss */
  .js .menu.closed {
    max-height: none;
  }

  /* line 533, ../sass/style.scss */
  .menu__toggle {
    display: none;
  }

  /* line 537, ../sass/style.scss */
  .menu {
    border-bottom: 5px solid #e64946;
    min-height: 42px;
  }

  /* line 542, ../sass/style.scss */
  .menu__item {
    float: left;
    position: relative;
  }
}
/*** Posts/Pages ***/
/* line 549, ../sass/style.scss */
.post__header, .page-header {
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
}

/* line 554, ../sass/style.scss */
.page-header__title {
  font-size: 28px;
  font-size: 1.75rem;
}

/* line 559, ../sass/style.scss */
.page-content {
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
}

/* line 564, ../sass/style.scss */
.meta {
  font-size: 13px;
  font-size: 0.8125rem;
  vertical-align: baseline;
}

/* line 570, ../sass/style.scss */
.meta, .meta a {
  color: #979797;
}

/* line 574, ../sass/style.scss */
.meta a:hover {
  color: #e64946;
}

/* line 578, ../sass/style.scss */
.meta span {
  margin-right: 10px;
}

/* line 582, ../sass/style.scss */
.meta .icon {
  margin-right: 5px;
}

/* line 586, ../sass/style.scss */
.icon-time, .icon-category {
  fill: #c4c4c4;
  vertical-align: middle;
}

/* line 591, ../sass/style.scss */
.meta-categories__link, .post__meta-date, .list__meta-date, .post__meta-lastmod, .list__meta-lastmod {
  vertical-align: middle;
}

/* line 595, ../sass/style.scss */
.post__meta {
  margin-top: 10px;
  margin-top: 0.625rem;
  padding: 5px 10px;
  border-top: 1px dotted #ebebeb;
  border-bottom: 1px dotted #ebebeb;
}

/* line 603, ../sass/style.scss */
.post__thumbnail {
  max-width: 1030px;
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
}

/* line 609, ../sass/style.scss */
.post__thumbnail img {
  width: 100%;
}

/* line 613, ../sass/style.scss */
.post__content h1, .post__content h2, .post__content h3, .post__content h4,
.post__content h5, .post__content h6, .post__content p,
.post__content blockquote, .post__content .row {
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
}

/* line 620, ../sass/style.scss */
.post__content blockquote p:last-child {
  margin: 0;
}

/* line 624, ../sass/style.scss */
.post__content a, .list__excerpt a, .warning a {
  font-weight: 700;
  color: #e64946;
}

/* line 629, ../sass/style.scss */
.post__content a:hover, .list__excerpt a:hover, .warning a:hover {
  color: #e64946;
  text-decoration: underline;
}

/* line 634, ../sass/style.scss */
.tags {
  font-size: 12px;
  font-size: 0.75rem;
  color: #ffffff;
  line-height: 1;
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
}

/* line 643, ../sass/style.scss */
.tags__item {
  float: left;
  font-weight: 700;
  margin: 0 6px 6px 0;
  margin: 0 0.375rem 0.375rem 0;
  background: #2a2a2a;
}

/* line 652, ../sass/style.scss */
.tags__item:hover {
  background: #e64946;
}

/* line 656, ../sass/style.scss */
.tags__link, .tags__link:hover {
  display: block;
  color: #ffffff;
  padding: 10px 15px;
}

/* line 662, ../sass/style.scss */
.tags .icon {
  float: left;
  padding: 8px;
  margin-right: 6px;
  background: #e64946;
}

/* line 669, ../sass/style.scss */
.icon-tag {
  fill: #ffffff;
}

/*** Author Box ***/
/* line 674, ../sass/style.scss */
.authorbox {
  line-height: 1.5;
  padding: 25px 0;
  margin-bottom: 25px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}

/* line 682, ../sass/style.scss */
.authorbox .screen-reader-text {
  position: absolute;
  top: -9999rem;
  left: -9999rem;
}

/* line 688, ../sass/style.scss */
.authorbox__avatar {
  float: left;
  padding: 3px;
  margin-right: 25px;
  border: 1px solid #ebebeb;
}

/* line 695, ../sass/style.scss */
.authorbox__header {
  margin-bottom: 10px;
}

/* line 699, ../sass/style.scss */
.authorbox__name {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 700;
}

/*** List content ***/
/* line 706, ../sass/style.scss */
.list__item {
  padding-bottom: 20px;
  padding-bottom: 1.25rem;
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
  border-bottom: 1px solid #ebebeb;
}

/* line 714, ../sass/style.scss */
.list__header {
  margin-bottom: 10px;
  margin-bottom: 0.625rem;
}

/* line 719, ../sass/style.scss */
.list__meta {
  margin-top: 5px;
}

/* line 723, ../sass/style.scss */
.list__excerpt {
  overflow: hidden;
}

/* line 727, ../sass/style.scss */
.list__thumbnail {
  float: left;
  margin-right: 20px;
}

/* line 732, ../sass/style.scss */
.list__thumbnail img {
  width: 100%;
  max-width: 235px;
}

/* line 737, ../sass/style.scss */
.list__footer-readmore {
  float: right;
  margin-top: 10px;
}

/*** Pagination ***/
/* line 743, ../sass/style.scss */
.pagination {
  margin-top: 20px;
}

/* line 747, ../sass/style.scss */
.pagination__item {
  display: inline-block;
  font-weight: 700;
  color: #000;
  padding: 10px 15px;
  background: #f5f5f5;
}

/* line 755, ../sass/style.scss */
.pagination__item:hover, .pagination__item--current {
  color: #ffffff;
  background: #e64946;
}

/*** Post Navigation ***/
/* line 761, ../sass/style.scss */
.post-nav {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #ebebeb;
}

/* line 768, ../sass/style.scss */
.post-nav__caption {
  display: block;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 5px;
  text-transform: uppercase;
  overflow: hidden;
}

/* line 777, ../sass/style.scss */
.post-nav__post-title {
  font-size: 13px;
  font-size: 0.8125rem;
  overflow: hidden;
}

/* line 783, ../sass/style.scss */
.post-nav__item--next {
  float: right;
  text-align: right;
}

/*** Footer ***/
/* line 789, ../sass/style.scss */
.footer {
  padding: 10px 25px;
  border-top: 3px solid #999;
  background: #2a2a2a;
}

/* line 795, ../sass/style.scss */
.footer__copyright {
  font-size: 12px;
  font-size: 0.75rem;
  color: #999;
}

/* line 801, ../sass/style.scss */
.footer__copyright a {
  color: #ffffff;
}

/*** Images / Video ***/
/* line 806, ../sass/style.scss */
img {
  max-width: 100%;
  width: auto\9;
  /* ie8 */
  height: auto;
  vertical-align: bottom;
}

/* line 813, ../sass/style.scss */
iframe, embed, object, video {
  max-width: 100%;
}

/* line 817, ../sass/style.scss */
.post__content .alignnone {
  display: block;
  margin: 20px 0;
  margin: 1.25rem 0;
}

/* line 823, ../sass/style.scss */
.post__content .aligncenter {
  display: block;
  margin: 20px auto;
  margin: 1.25rem auto;
}

/* line 829, ../sass/style.scss */
.post__content .alignleft {
  display: inline;
  float: left;
  margin: 5px 20px 20px 0;
  margin: 0.3125rem 1.25rem 1.25rem 0;
}

/* line 836, ../sass/style.scss */
.post__content .alignright {
  display: inline;
  float: right;
  margin: 5px 0 20px 20px;
  margin: 0.3125rem 0 1.25rem 1.25rem;
}

/* line 843, ../sass/style.scss */
.screen-reader-text {
  position: absolute;
  top: -9999rem;
  left: -9999rem;
  overflow: hidden;
}

/*** Tables ***/
/* line 851, ../sass/style.scss */
table {
  width: 100%;
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
  border-left: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
}

/* line 859, ../sass/style.scss */
td, th {
  padding: 5px 10px;
  border-right: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}

/* line 865, ../sass/style.scss */
th {
  font-weight: 700;
}

/*** Forms ***/
/* line 870, ../sass/style.scss */
input {
  font-size: 12px;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  vertical-align: middle;
  background: #f5f5f5;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

/* line 881, ../sass/style.scss */
input[type=text], input[type=email], input[type=tel], input[type=url] {
  width: 60%;
}

/* line 885, ../sass/style.scss */
input[type=text]:hover, input[type=email]:hover, input[type=tel]:hover,
input[type=url]:hover, textarea:hover {
  border: 1px solid #e64946;
}

/* line 890, ../sass/style.scss */
input[type=submit] {
  display: inline-block;
  min-width: 150px;
  font-weight: 700;
  color: #ffffff;
  padding: 10px 15px;
  background: #e64946;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
  border: 0;
  -webkit-appearance: none;
}

/* line 906, ../sass/style.scss */
input[type=submit]:hover {
  background: #2a2a2a;
}

/* line 910, ../sass/style.scss */
textarea {
  width: 96%;
  line-height: 1.5;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #f5f5f5;
}

/*** Searchform ***/
/* line 919, ../sass/style.scss */
.widget-search__form input {
  font-size: 11px;
  line-height: 1;
  color: #1f1e1e;
}

/* line 925, ../sass/style.scss */
.widget-search__form .widget-search__submit {
  display: none;
}

/* line 929, ../sass/style.scss */
.widget-search__form .screen-reader-text {
  position: absolute;
  left: -9999px;
  overflow: hidden;
}

/* line 935, ../sass/style.scss */
.widget-search__form .widget-search__field {
  position: relative;
  padding: 10px;
  margin: 0;
  border: 1px solid #ebebeb;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}

/* line 947, ../sass/style.scss */
.widget-search__form .widget-search__field:active, .widget-search__form .widget-search__field:focus {
  cursor: text;
}

/* line 951, ../sass/style.scss */
.widget-search__form {
  display: block;
  margin: 0 auto;
  padding: 5%;
  background: #f5f5f5;
}

/* line 958, ../sass/style.scss */
.widget-search__form .widget-search__field {
  display: block;
  margin: 0 auto;
  width: 90%;
}

/*** Widgets ***/
/* line 965, ../sass/style.scss */
.widget {
  margin-bottom: 25px;
  overflow: hidden;
}

/* line 970, ../sass/style.scss */
.widget:last-child {
  margin-bottom: 0;
}

/* line 974, ../sass/style.scss */
.widget__title {
  position: relative;
  font-size: 16px;
  font-size: 1rem;
  padding-bottom: 5px;
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
  text-transform: uppercase;
  border-bottom: 3px solid #e64946;
}

/* line 985, ../sass/style.scss */
.widget-social__link {
  display: block;
  margin: 0 0 8px 0;
}

/* line 990, ../sass/style.scss */
.widget-social__link-icon {
  vertical-align: middle;
  margin: 0 5px 0 0;
}

/*** Default WordPress Widgets ***/
/* line 996, ../sass/style.scss */
.widget-categories li {
  border-bottom: 1px dotted #ebebeb;
}

/* line 1000, ../sass/style.scss */
.widget-categories li a {
  display: block;
  padding: 5px 0;
}

/* line 1004, ../sass/style.scss */
.widget-categories li:first-child a {
  padding-top: 0;
}

/*** Tag Cloud Widget ***/
/* line 1009, ../sass/style.scss */
.widget__link--taglist {
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  color: #ffffff;
  padding: 5px 10px;
  margin: 0 4px 8px 0;
  white-space: nowrap;
  text-transform: uppercase;
  background: #2a2a2a;
}

/* line 1021, ../sass/style.scss */
.widget__link--taglist:hover, .widget .widget__link--taglist:hover {
  color: #ffffff;
  background: #e64946;
}

/*** Recent Posts Widget ***/
/* line 1028, ../sass/style.scss */
.widget-recent li {
  display: block;
  padding: 5px 0;
  border-bottom: 1px dotted #e5e5e5;
}
/* line 1032, ../sass/style.scss */
.widget-recent li:first-child {
  padding-top: 0;
}
/* line 1036, ../sass/style.scss */
.widget-recent .post-date {
  display: block;
  font-size: 11px;
  font-size: 0.6875rem;
  color: #979797;
  margin-bottom: 5px;
}

/*** Media Queries ***/
@media screen and (max-width: 1475px) {
  /* line 1047, ../sass/style.scss */
  .container {
    width: 95%;
  }

  /* line 1051, ../sass/style.scss */
  .container-inner {
    width: 100%;
  }
}
@media screen and (max-width: 900px) {
  /* line 1057, ../sass/style.scss */
  .container-outer {
    margin: 0 auto;
  }

  /* line 1061, ../sass/style.scss */
  .mobile .container {
    width: 100%;
  }

  /* line 1065, ../sass/style.scss */
  .wrapper, .logo {
    padding: 20px;
  }

  /* line 1069, ../sass/style.scss */
  .footer__copyright {
    text-align: center;
  }

  /* line 1073, ../sass/style.scss */
  .widget {
    margin-bottom: 20px;
  }

  /* line 1077, ../sass/style.scss */
  .meta-comments {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  /* line 1083, ../sass/style.scss */
  .content, .sidebar, .body-right-sidebar .main-content,
  .body-left-sidebar .main-content {
    float: none;
    width: 100%;
    margin: 0;
  }

  /* line 1090, ../sass/style.scss */
  .logo {
    text-align: center;
  }

  /* line 1094, ../sass/style.scss */
  .logo__title, .post__title {
    font-size: 24px;
    font-size: 1.5rem;
  }

  /* line 1099, ../sass/style.scss */
  .sidebar {
    margin-top: 20px;
  }

  /* line 1103, ../sass/style.scss */
  .post__meta {
    padding: 5px 0;
  }
}
@media screen and (max-width: 620px) {
  /* line 1109, ../sass/style.scss */
  input[type=text], input[type=email], input[type=tel], input[type=url] {
    width: 88%;
  }

  /* line 1113, ../sass/style.scss */
  [class*="col-"] {
    float: none;
    width: 100%;
    margin: 0;
  }

  /* line 1119, ../sass/style.scss */
  .post__meta-categories, .entry-meta-comments {
    display: none;
  }

  /* line 1123, ../sass/style.scss */
  .authorbox {
    text-align: center;
  }

  /* line 1127, ../sass/style.scss */
  .authorbox__avatar {
    float: none;
    display: inline-block;
    margin: 0 0 20px;
  }

  /* line 1133, ../sass/style.scss */
  .post-nav__item {
    text-align: center;
  }

  /* line 1137, ../sass/style.scss */
  .post-nav__item--prev {
    padding-bottom: 25px;
  }

  /* line 1141, ../sass/style.scss */
  .post__content ul, .post__content ol {
    margin: 0 0 20px 20px;
  }

  /* line 1145, ../sass/style.scss */
  .post__content ul ul, .post__content ol ol {
    margin: 0 0 0 20px;
  }

  /* line 1149, ../sass/style.scss */
  .single-post .post-nav__item--next {
    margin-top: 25px;
  }

  /* line 1153, ../sass/style.scss */
  .list__thumbnail {
    max-width: 80px;
  }

  /* line 1157, ../sass/style.scss */
  .list__title {
    font-size: 14px;
    font-size: 0.875rem;
  }

  /* line 1162, ../sass/style.scss */
  .list__meta {
    display: block;
    font-size: 11px;
    font-size: 0.6875rem;
  }

  /* line 1168, ../sass/style.scss */
  .list__excerpt {
    display: none;
  }
}
